.comentario {
  color: #000;
  font-family: Neuton;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display:flex;
  align-items: center;
  flex-wrap:wrap;
  gap:10px;
  margin-left: 35px;
  margin-top:-15px;
  width: 80%;
}

.img__avatar{
    width: 17px;
    height: 16px;
}

.comentario__texto{
  margin-top:-21px;
  text-align: left;
  margin-bottom:16px;
}

.img__corazon{
  vertical-align: middle;
}

.img__corazon:hover{
  filter:brightness(45%);
}